/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--page-font-family-Inter);
    background-image: var(--background-gradient);
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    justify-content: center;
    background-position: center;
    font-variation-settings: var(--page-wght);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    height: var(--header-height);
    background-color: #FFFFFF;
    margin-bottom: 100px;
    border: 2px solid #000000;
}

.header_logo {
    font-family: var(--page-font-family-PressStart2P);
    font-size: var(--header-logo-font-size);
    padding-top: 122px;
    padding-bottom: 0px;
    block-size: var(--header-logo-height);
}

.header_text {
    font-family: var(--page-font-family-PressStart2P);
    font-size: var(--header-text-font-size);
    text-transform: uppercase;
    margin-top: 69px;
}

.main {
    display: grid;
    gap: 52px;
    place-items: center;
    width: 100%;
}

.card {
    background-color: #FFFFFF;
    border: 2px solid #000000;
}

.container {
    max-width: var(--container-width);
    margin-right: var(--horizontal-padding);
    margin-left: var(--horizontal-padding);
}

.card_title {
    padding-top: 9px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    font-family: var(--page-font-family-Inter);
    font-variation-settings: var(--card-title-wght);
    font-size: 18px;
}

.card_text {
    font-family: var(--page-font-family-Inter);
    font-weight: 410;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 3px;
    line-height: 21px;
    letter-spacing: 0;
    font-variation-settings: var(--card-text-wght);
}

.post_image {
    position: relative;
    border-top: solid 2px #000000;
    border-bottom: solid 2px #000000;
    margin-bottom: 25px;
}

.image_bus {
    display: block;
    background-size: cover;
    background-position: center;
    inline-size: 100%;
}

.post_label {
    position: absolute;
    top: 25px;
    right: 25px;
    mix-blend-mode: hard-light;
    font-family: var(--page-font-family-PressStart2P);
    font-size: 14px;
    font-weight: var(--post-label-wght);
    line-height: 1;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.5;
    text-shadow: -1px -1px 0 var(--label-shadow-color), 1px -1px 0 var(--label-shadow-color), -1px 1px 0 var(--label-shadow-color), 1px 1px 0 var(--label-shadow-color);
}

@supports((-webkit-text-stroke: 1px var(--label-shadow-color)) or (text-stroke:1px var(--label-shadow-color))) {
    .post_label {
        text-shadow: none;
        -webkit-text-stroke: 1px var(--label-shadow-color);
        text-stroke: 1px var(--label-shadow-color);
    }
}

.button_heart_like {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 25px;
    margin-right: 25px;
}

.button__text {
    font-family: var(--page-font-family-PressStart2P);
    font-size: 14px;
    font-weight: var(--button-text-wght);
    z-index: 1;
    color: var(--button-text-color);
    mix-blend-mode: difference;
}

.card__like-button {
    inline-size: 130px;
    block-size: 38px;
}

.button_black {
    position: relative;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
    color: var(--accent-color);
}

.button_black:focus {
    outline: none;
    box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button_black::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #000000;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 0;
}

.button_black:hover::before {
    transform: translateX(0);
}

.button_save {
    inline-size: 306px;
    block-size: 84px;
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    border: 2px solid #000000;
    background-color: #FFFFFF;
}

.button_like-icon {
    background-color: transparent;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    cursor: pointer;
    padding: 0;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
}

.button_like-icon:focus {
    outline: none;
}

.button_like-icon:focus-visible {
    border-color: var(--button-border-color-icon-like);
}

.like-icon {
    cursor: pointer;
    transform-origin: center;
}

.core,
.main-body,
.contour {
    transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
    fill: #FF0000;
    transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
    fill: #FF0000;
    transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
    fill: #FF0000;
    transition: fill 0.3s linear 0.06s;
}

.sparks {
    opacity: 0;
    fill: #FF0000;
}

.contour {
    fill: var(--color-like-icon-contour, black);
    transition: fill 0.1s linear;
}

.core {
    fill: transparent;
    transition: fill 0.3s linear 0.03s;
}

.button_like-icon:hover .core {
    fill: black;
    transition: fill 0.3s linear 0s;
}

.button_like-icon:active .core {
    fill: #FF0000;
    transition: fill 0.3s linear;
}

.main-body {
    fill: transparent;
    transition: fill 0.3s linear;
}

.button_like-icon:hover .main-body {
    fill: black;
    transition: fill 0.1s linear 0.05s;
}

.button_like-icon:active .main-body {
    fill: #FF0000;
    transition: fill 0.3s linear 0.05s;
}

.button_like-icon:active .sparks {
    animation: spark 0.3s ease-in 0.3s 1 forwards;
    transform-origin: center;
}

.button_like-icon:active .heart {
    animation: hearts 0.3s ease-in 0.1s forwards;
    transform-origin: center;
}

.like-icon.is-liked .heart {
    animation: hearts 0.3s ease-in 0.1s forwards;
    transform-origin: center;
}

.like-icon.is-liked .sparks {
    fill: #FF0000;
    animation: spark 0.3s ease-in 0.3s 1 forwards;
    transform-origin: center;
}

dialog {
    display: grid;
    position: fixed;
    inset: 0;
}

dialog:not([open]) {
    display: none;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 0.75);
}

.footer {
    display: grid;
    place-items: center;
}

.save_icon_svg {
    /*
    fill: var(--button-text-color);
    color: var(--button-text-color);
*/
    z-index: 1;
    mix-blend-mode: difference;
}

.button_save_text {
    font-family: var(--page-font-family-PressStart2P);
    font-size: 14px;
    font-weight: var(--button-text-wght);
    color: var(--button-text-color);
    mix-blend-mode: difference;
}

.dialog_floppy {
    display: grid;
    inline-size: 341px;
    padding-top: 30px;
    gap: 30px;
    font-family: var(--page-font-family-PressStart2P);
    font-size: 14px;
    font-weight: var(--button-text-wght);
    place-items: center;
}

.dialog_floppy_content {
    display: grid;
    grid-template-columns: 1fr 234px;
    gap: 20px;
    text-transform: uppercase;
    line-height: 150%;
    align-items: center;
}

.button_floppy {
    block-size: 38px;
    inline-size: 261px;
}

.dialog_button {
    padding-bottom: 10px;
}

.dialog_text {
    position: relative;
    z-index: 1;
    color: var(--button-text-color);
    mix-blend-mode: difference;
}

.image_brightness {
    filter: brightness(200%);
}

.image_contrast {
    filter: contrast(20%);
}

.image_grayscale {
    filter: grayscale(0.8);
}

.image_saturate {
    filter: saturate(158%);
}

.image_sepia {
    filter: sepia(80%);
}

.image_invert {
    filter: invert(0.7);
}

.image_blur {
    filter: blur(0.3rem) invert(0.1) contrast(80%);
}

@media (min-width: 1440px) {
    .header {
        margin-top: 100px;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
        min-width: 700px;
    }
    .header_logo {
        padding-top: 130px;
    }
    .header_text {
        margin-top: 85px;
    }
    .card_title {
        padding-top: 5px;
    }
    .button_save {
        block-size: 55px;
        min-width: 335px;
        grid-auto-flow: column;
        padding-left: 15px;
        padding-right: 15px;
        gap: 3.5px;
        margin-top: 0px;
    }
    .save_icon_svg {
        width: 21px;
        height: 21px;
    }
    .dialog_svg {
        width: 39px;
        height: 39px;
    }
    .dialog_floppy {
        inline-size: 353px;
    }
}

@media (width < 1440px) {
    .container {
        min-width: 375px;
    }
}