/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --page-wght: "wght" 400;
    --card-title-wght: "wght" 715;
    --card-text-wght: "wght" 410;
    --post-label-wght: "wght" 400;
    --button-text-wght: "wght" 400;
    --page-font-family-Inter: "Inter", sans-serif;
    --page-font-family-PressStart2P: "PressStart2P", fantasy;
    --background-gradient: repeating-linear-gradient(to left, #d3d3d3 0 2px, #d3d3d300 2px 4px), repeating-linear-gradient(to bottom, #d3d3d3 0 2px, #d3d3d300 2px 4px), linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    --container-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
    --horizontal-padding: clamp(0rem, -8.143rem + 34.742vw, 23.125rem);
    --header-logo-font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
    --header-logo-height: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
    --header-text-font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
    --header-height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
    --label-shadow-color: #FFFFFF;
    --accent-color: #000000;
    --button-text-color: #FFFFFF;
    --button-border-color-icon-like: #000000;
    --color-like-icon-core: black;
    --animation-fill-color: #FF0000;
    --color-like-icon-contour: #000000;
    --color-like-icon-main-body: white;
}